<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Lunchbeställning</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="style/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="style/main.css">
        <script src="js/vendor/modernizr.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
          <h1>Lunchbeställning</h1>
          <div id="AppMain">
          </div>
        </div>
        
        <script id="MenuList" type="text/template">
            <ul>
            <% _.each(col, function(model) { %>
                <li><%= model.day %> - <%= model.presentation %></li>
            <% }); %>
            </ul>
        </script>

        <!-- External -->
        <!--script type="text/javascript" src="js/vendor/jquery.min.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/vendor/underscore-min.js"></script>
        <script type="text/javascript" src="js/vendor/backbone-min.js"></script-->
        <script type="text/javascript" src="js/vendor/require.min.js"></script>

        <!-- Local -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
