<div class="form-signin">
  <form class="">
    <h2>Logga in</h2>

    <label for="Username" class="sr-only">Email address</label>
    <input type="text" id="Username" class="form-control" placeholder="Användarnamn" required="required" autofocus="autofocus"  autocomplete="off" />

    <label for="Password" class="sr-only">Password</label>
    <input type="password" id="Password" class="form-control" placeholder="Lösenord" required="required" autocomplete="off" />

    <div class="checkbox">
      <label>
        <input id="RememberLogin" type="checkbox" /> Remember me
      </label>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Logga in</button>
  </form>
</div>
